@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url(./reset.css);




/* header */
header {
    background: #fff;
}

#main-header {
    width: 100%;
    position: fixed;
    z-index: 999;
    border-bottom: 1px solid #999;
}

#main-header .container {
    width: 100%;
    display: flex;
    position: relative;
    
}

#main-header .container h1 {
    width: 300px;
    min-width: 200px;
}

#main-header .container h1>a {
    width: 100%;
    /* background: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 10px;
}

#main-header .container h1>a>img {
    width: 100%;
}

/* gnb  */
#gnb {
    position: relative;
    /* background: pink; */
    margin: 0 auto;
    padding-top: 20px;
}

#gnb .depth1 {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

#gnb .depth1>li {
    padding: 10px;
    /* outline: 1px solid red; */
}

#gnb .depth1>li>p {
    display: none;
}

#gnb .depth1>li>.title-menu {
    width: 170px;
    /* outline: 1px solid #888; */
    margin-bottom: 20px;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
}

#gnb .depth1>li>.title-menu>a {
    width: 30px;
}

#gnb .depth1>li>.title-menu:hover>a {
    color: var(--main-color1);
}

#gnb .depth1>li>.title-menu>.bi {
    display: none;
}

/* depth2 */
#gnb .depth2 {
    margin-top: 10px;
    display: none;
}

#gnb .depth2.on {
    display: block;
}

#gnb .depth2>li {
    padding: 10px;
}

#gnb .depth2>li>a {
    font-weight: 500;
    font-size: 16px;
}

#gnb .depth2>li:hover>a {
    font-weight: 350;
    color: var(--main-color1);
}

/* btn */
#close-btn {
    position: absolute;
    right: -32px;
    top: 0;
    display: none;
    font-size: 32px;
    background: transparent;
    border-style: none;
}

#toggle-btn {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 32px;
    background: transparent;
    border-style: none;
    display: none;
}


/* 메인 배너 */


.k-container { 
    width: 100%;
    margin: 0 auto;
}

#k-main-Banner { 
    padding-top: 90px;
    width: 100%;
    background: linear-gradient(90deg, #2E3483 50%, #DFDFDF 50%);
}

/* 모바일용 이미지 끄기 */
.m-main-img {
    display: none;
  }

  #k-main-Banner .k-container { 
    max-width: 1440px;
  }


  .swiper-slide img {
    display: block;
    max-width: 100%;
    height: 100%;
  }
  
  .swiper-pagination-bullet  {
    width: 40px;
    height: 5px;
    border-radius: 0;
  }

  .swiper-pagination > .swiper-pagination-bullet {
    opacity: 1;
    background-color: #fff;
  }
  .swiper-pagination > .swiper-pagination-bullet-active {
    background: var(--main-color2);
  }







/* 의료분야별 */

#k-field { 
    width: 100%;
    padding-top: 60px;
    padding-bottom: 87px;
}


#k-field h1 { 
    font-size: 30px;
    padding-bottom: 60px;
    text-align: center;
    text-decoration: 5px underline; 
    text-underline-position:under;
    text-decoration-color: #E9B226;
}

#k-field .k-list { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px 30px;
}

#k-field .k-col { 
    width: 20%;
    height: 20vh;
    /* background: #ccc; */
    border: 1px solid #666;
    position: relative;
}

#k-field .k-col a{
    display: block;
    /* outline: 1px solid red; */
    height: 100%;
    width: 100%;
    padding: 20px;
 }

#k-field .k-col p { 
    font-size: 24px;
    font-weight: 400;
}


#k-field .k-col a:hover { 
    border: 3px solid #08107B;
   color: #08107B;
}



#k-field .k-col img { 
    position: absolute;
    right: 20px;
    bottom: 10px;
}



/* ------------신제품 배너------------ */

.k-m-new { 
    display: none;
}

#k-new-banner {
    width: 100%; 
    height: 150px;
    overflow: hidden;  
}


.k-slider2 .k-sliders2 img {
    display: block;
    width: 1440px; 
    margin: 0 auto;
}
  


.k-slider2 .k-sliders2 .k-bg:nth-child(1) { 
    width: 100%;
    background: var(--main-color2);
}

.k-slider2 .k-sliders2 .k-bg:nth-child(2) { 
    width: 100%;
    background: var(--main-color1);
}

.k-slider2 .k-sliders2 .k-bg:nth-child(3) { 
    width: 100%;
    background: var(--main-color1);
}






.k-slider2 .k-sliders2 {
    /* 높이값 이동: 1장 = 300px */
    transform: translateY(calc(-150px * 0));
    transition: 0.5s;
  }




/* -----------제품정보 --------------*/

#k-product { 
    overflow: hidden;
    margin-bottom: 140px;
}


#k-product h1 { 
    text-align: center;
    text-decoration: 5px underline; 
    text-underline-position:under;
    text-decoration-color: #E9B226;
    padding-top: 60px;
    padding-bottom: 60px;
}

#k-product .k-col2 { 
    width: calc(100% / 6);
    height: 70vh;
    /* outline: 1px solid red; */
    float: left;
}



#k-product .k-col2 a { 
    display: block;
    height: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    padding-top: 20%;
}



#k-product .k-container .k-col2:nth-child(1) { 
    background: #EEEEEE;
    background-image: url(../images/index/col2-img1.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

#k-product .k-container .k-col2:nth-child(2) { 
    border: 1px solid #EEEEEE;
    background-image: url(../images/index/col2-img2.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
#k-product .k-container .k-col2:nth-child(3) { 
    background: #EEEEEE;
    background-image: url(../images/index/col2-img3.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
#k-product .k-container .k-col2:nth-child(4) { 
    border: 1px solid #EEEEEE;
    background-image: url(../images/index/col2-img4.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
#k-product .k-container .k-col2:nth-child(5) { 
    background: #EEEEEE;
    background-image: url(../images/index/col2-img5.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 150%;
}
#k-product .k-container .k-col2:nth-child(6) { 
    border: 1px solid #EEEEEE;
    background-image: url(../images/index/col2-img6.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 80%;
}


#k-product a:hover { 
    color: #fff;
    background: rgba(0, 0, 0,0.5);
}




/* footer */
footer {
    background: var(--sub-color2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 180px; */
    padding-left: 30px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-info p {
    color: #555;
    font-size: 14px;
    font-weight: 400;
}

.footer-info p:first-child {
    font-weight: 700;
    padding-bottom: 9px;
}

.footer-info p {
    padding-bottom: 6px;
}

@media screen and (min-width: 768px) {
    .footer-info p br {
        display: none;
    }
}

.footer-info p:nth-child(3) {
    padding-bottom: 2px;
}

.footer-info .copy {
    font-size: 12px;
    padding-bottom: 0;
}

.family-site {
    position: relative;
    margin-right: 108px;
    /* outline: 1px solid red; */
}

@media screen and (max-width: 1190px) {
    .family-site {
        margin-right: 30px;
    }
}

.family-site- {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 50px;
    border: 1px solid var(--main-color1);
    padding: 13px 30px;
}

.family-site- p {
    font-size: 16px;
    font-weight: 500;
    color: var(--main-color1);
}

#family-site-btn {
    border: none;
    background: transparent;
    /* outline: 1px solid red; */
}

#family-site-btn .bi {
    font-size: 24px;
    color: var(--main-color1);
}

.family-site-nav>ul {
    /* outline: 1px solid red; */
    position: absolute;
    bottom: 50px;
    width: 300px;
    height: 197px;
    display: none;
}

.family-site-nav>ul.on {
    position: absolute;
    bottom: 50px;
    width: 300px;
    height: 197px;
    display: block;
}

.family-site-nav a {
    display: block;
    color: var(--sub-color1);
    background: var(--main-color1);
    font-size: 16px;
    font-weight: 500;
    padding: 13px 30px;
}






